Repository ucsusa/ReEDS-2.0, pull requests merged in 2025-04, with the labels that each got.

#1 Eer2reeds
  environment.yml
  hourlize/eer_to_reeds/eer-to-reeds-ucs.ipynb
  hourlize/eer_to_reeds/eer_to_reeds_UCS.py
  inputs/load/EER_Central_UCS_load_hourly.h5
  inputs/load/EER_Current_UCS_load_hourly.h5
  inputs/load/EER_HighDC_UCS_load_hourly.h5
Labels: Comp:Input, Difficulty:2-Challenging, Priority:1-Critical, Status:5-In Review, Type:Feature

#11 updated upv_prescribed_builds for MI
  inputs/capacity_exogenous/upv_prescribed_builds_reference_ba.csv
Labels: Comp:Input, Difficulty:1-Beginner

#16 Test wind limit
  d_solveprep.gms
  inputs/capacity_exogenous/wind-ons_prescribed_builds_reference_ba.csv
Labels: Comp:Core, Comp:Input, Difficulty:2-Challenging, Status:5-In Review, Type:Feature
